/*font Variables*/
$primary-font: "Nunito", sans-serif;
$title-font: "Montserrat", sans-serif;

/*Color Variables*/
$primary-color: #00aee0;
$primary-color2: #00fedc;
$title-color: #222222;
$text-color: #777777;

/*=================== fonts ====================*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600|Nunito:400,400i,600&display=swap");
