/* Gradient Buttons */

/* Blue Btn */
.btn-blue-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  );
  color: var(--white);
}
.btn-blue-grad:hover {
  background-position: right center;
}

/* Green Btn */
.btn-green-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  color: var(--white);
}
.btn-green-grad:hover {
  background-position: right center;
}

/* orange Btn */
.btn-orange-grad {
  background-image: linear-gradient(
    to right,
    #ff4b1f 0%,
    #ff9068 51%,
    #ff4b1f 100%
  );
  color: var(--white);
}
.btn-orange-grad:hover {
  background-position: right center;
}

/* Red btn */
.btn-red-grad {
  background-image: linear-gradient(
    to right,
    #f00000 0%,
    #dc281e 51%,
    #f00000 100%
  );
  color: var(--white);
}
.btn-red-grad:hover {
  background-position: right center;
}

/* Backgrounds Gradient */
.bg-blue-grad {
  background-image: linear-gradient(
    to right,
    #00d2ff 0%,
    #3a7bd5 51%,
    #00d2ff 100%
  ) !important;
  color: var(--white);
}
.bg-green-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  color: var(--white);
}

.bg-orange-grad {
  background-image: linear-gradient(
    to right,
    #ff4b1f 0%,
    #ff9068 51%,
    #ff4b1f 100%
  );
  color: var(--white);
}
.bg-red-grad {
  background-image: linear-gradient(
    to right,
    #f00000 0%,
    #dc281e 51%,
    #f00000 100%
  );
  color: var(--white);
}
